@{
    ViewBag.Title = "Home";
}

<h1>Welcome to Cookbook Recipes!</h1>
<h2>Why you should choose us:</h2>
<ul>
    <li>You can view the home page</li>
    <li>You can view the recipe list</li>
    <li>You can add a recipe</li>
    <li>You can view the details of a recipe</li>
    <li>You can review a recipe</li>
</ul>