@{
    ViewBag.Title = "Review Recipe";
}

<h1>Review Recipe</h1>
<form action="">
    <label>
        User Name:
        <input type="text" name="userName">
    </label>
    <label>
        Review:
        <textarea class="box" name="review" rows="10">
        </textarea>
    </label>
    <input type="submit" value="Submit">
</form>